:root {
  --white: hsl(0, 0%, 100%);
  --darkBlue: hsl(240, 67%, 8%);
  --lightBlue: hsl(222, 87%, 56%);
  --cyan: hsl(194, 48%, 49%);
  --darkGray: hsl(240, 17%, 26%);
  --lightGray: hsl(240, 6%, 54%);
  --yelow: hsl(33, 82%, 61%) 0;
  --purple: hsl(263, 67%, 51%);
  --darkOrange: hsl(10, 63%, 51%);
  --lightOrange: hsl(17, 73%, 46%);
  --red: hsl(2, 68%, 53%);
  --brightGreen: hsl(169, 73%, 44%);

  --fontHeadings: "Antonio", sans-serif; // weights 400
  --fontBody: "Spartan", sans-serif; // weights 400 700
}
