:root {
  --white: hsl(0, 0%, 100%);
  --darkBlue: hsl(240, 67%, 8%);
  --darkGray: hsl(240, 17%, 26%);
  --lightGray: hsl(240, 6%, 54%);

  --fontHeadings: "Antonio", sans-serif; // weights 400
  --fontBody: "Spartan", sans-serif; // weights 400 700
}
