@use "../../scss-utils" as *;

.container {
  width: 100%;
  height: 100vh;
  padding: 212px 165px 87px 165px;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint-down(medium) {
    flex-direction: column;
    height: auto;
  }
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;

  @include breakpoint-down(medium) {
    img {
      width: 290px;
      height: auto;
    }
  }
}

.planetInfo {
  flex: 1;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  h2 {
    font-family: var(--fontHeadings);
    font-size: rem(80);
    text-transform: uppercase;
    font-weight: 400;
  }

  p {
    font-family: var(--fontBody);
    font-size: rem(14);
    font-weight: 400;
  }
}

.source {
  margin-bottom: 15px;

  a {
    text-decoration: underline;
    font-family: var(--fontBody);
    font-size: rem(14);
    color: var(--lightGray);

    display: inline-flex;
    gap: 5px;
    align-items: center;

    transition: all 150ms ease-in-out;

    @include breakpoint(large) {
      &:hover {
        color: var(--white);
      }
    }
  }
}

.categoryButtons {
  display: flex;
  flex-direction: column;
  gap: 16px;

  button {
    width: 100%;
  }

  span {
    //color: var(--lightGray);
  }
}
