@use "../../scss-utils" as *;

.container {
  border: 1px solid var(--darkGray);
  padding: 20px 0 28px 23px;
  flex: 1;
  text-transform: uppercase;

  @include breakpoint-down(small) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 24px;
  }
}

h3 {
  font-family: var(--fontBody);
  font-size: rem(11);
  font-weight: 700;
  color: var(--darkGray);

  @include breakpoint-down(medium) {
    font-size: rem(8);
  }
}

p {
  font-family: var(--fontHeadings);
  font-size: rem(40);
  font-weight: 400;
  color: var(--white);
  margin-top: 5px;

  @include breakpoint-down(medium) {
    font-size: rem(24);
  }

  @include breakpoint-down(small) {
    font-size: rem(20);
    margin-top: 0;
  }
}
