@use "../../scss-utils" as *;

.nav {
  position: fixed;
  width: 100%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  text-transform: uppercase;

  padding: 33px 40px;
  border-bottom: 1px solid var(--lightGray);

  @include breakpoint-down(medium) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 39px;
  }

  @include breakpoint-down(small) {
    flex-direction: row;
    justify-content: space-between;
  }

  //text color comes from <a> tag in global main.scss file

  h1 {
    font-family: var(--fontHeadings);
    font-size: rem(28);
    font-weight: 400;
  }

  .navMenu {
    display: flex;
    align-items: center;
    gap: 33px;

    @include breakpoint-down(small) {
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      top: 105px;
      left: -100%;
      width: 100%;
      height: 100vh;
      transition: all 250ms ease-in-out;
      z-index: -1;
      background-color: var(--darkBlue);

      gap: 0;

      padding: 44px 24px;

      &.active {
        left: 0;
      }
    }

    a {
      @include breakpoint-down(small) {
        width: 100%;

        background-image: url("/assets/icon-arrow.svg");
        background-repeat: no-repeat;
        background-size: 8px;
        background-position: right;
      }
    }

    li {
      font-family: var(--fontBody);
      font-size: rem(11);
      font-weight: 700;
      letter-spacing: 1px;

      @include breakpoint-down(small) {
        display: flex;
        align-items: center;
        gap: 24px;

        font-size: rem(15);
        padding: 20px 0;
        letter-spacing: 1.36px;

        border-bottom: 1px solid var(--lightGray);
      }
    }
  }
}

.hamburgerMenu {
  display: none;

  @include breakpoint-down(small) {
    display: block;
  }
}

.planetIcon {
  display: none;

  @include breakpoint-down(small) {
    display: inline;
  }
}
