@use "../../scss-utils" as *;

.nav {
  position: fixed;
  width: 100%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  text-transform: uppercase;

  padding: 33px 40px;

  border-bottom: 1px solid var(--lightGray);

  @include breakpoint(large) {
    padding: 0 40px 33px 40px;
  }

  @include breakpoint-down(medium) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 39px;

    background-color: var(--darkBlue);
    background-image: url("/assets/background-stars.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @include breakpoint-down(small) {
    flex-direction: row;
    justify-content: space-between;
  }

  h1 {
    //text color comes from global scss file

    font-family: var(--fontHeadings);
    font-size: rem(28);
    font-weight: 400;
  }

  a {
    @include breakpoint(large) {
      transform: translateY(40%);
    }
  }

  .navMenu {
    display: flex;
    align-items: center;
    gap: 33px;

    @include breakpoint-down(small) {
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      top: 105px;
      left: -100%;
      width: 100%;
      height: 100vh;
      transition: all 250ms ease-in-out;
      z-index: -1;
      background-color: var(--darkBlue);

      gap: 0;

      padding: 44px 24px;

      &.active {
        left: 0;
      }
    }

    li {
      font-family: var(--fontBody);

      font-size: rem(11);
      font-weight: 700;
      letter-spacing: 1px;

      cursor: pointer;
      border-top: 4px solid transparent;
      transition: all 150ms ease-in-out;

      @include breakpoint(large) {
        color: var(--lightGray);
        padding-top: 29px;

        &:hover {
          color: var(--white);
          border-top: 4px solid var(--borderColor); //this color comes from the markup, taken from JSON file
        }
      }

      @include breakpoint-down(small) {
        font-size: rem(15);
        padding: 20px 0;
        letter-spacing: 1.36px;

        display: flex;
        align-items: center;
        gap: 24px;

        border-bottom: 1px solid var(--lightGray);

        width: 100%;

        background-image: url("/assets/icon-arrow.svg");
        background-repeat: no-repeat;
        background-size: 8px;
        background-position: right;
      }
    }
  }
}

.hamburgerMenu {
  display: none;

  @include breakpoint-down(small) {
    display: block;
  }
}

.planetIcon {
  display: none;

  @include breakpoint-down(small) {
    display: inline;
  }
}
