// Scss utils

@use "scss-utils" as *;

// Google fonts

@import url("https://fonts.googleapis.com/css2?family=Antonio&family=Spartan:wght@400;700&display=swap");

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
}

body {
  background-color: var(--darkBlue);
  background-image: url("/assets/background-stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}
